body{
	background-image: url('sky.png')
}
#box{
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url('spaceship.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 40%;
	top: 100%;
/*	background: linear-gradient(red, yellow);*/
/*	animation: move-around 3s 7;*/
}

#result{
	position: relative;
	width: 200px;
	height: 50px;
	top: 50%;
	left: 40%;
	background: linear-gradient(blue, yellow);
	font-size: 20px;
	border-radius: 20px;
	display: none;
	text-align: center;
	padding-top: 20px;
}

#box2{
	position: absolute;
	left: 400px;
	width: 100px;
	height: 100px;
	background: radial-gradient(white, green);
	border-radius: 50%;
	animation: move-around 6s infinite;
}

@keyframes move-around{
	0%{
		top: 0px;
	}
	20%{
		left: 100px;
	}
	60%{
		left: -60px;
	}
	80%{
		left: 70px;
	}
	100%{
		top: 300px;
	}
}