body{
	width: 90%;
	margin-left: 50px;
}

div#selection {
	display: none;
}

input{
	margin-top: 20px;
	margin-right: 5px;
}

#dropdown {
	margin-top: 20px;
}

a {
	background-color: red;
	color: white;
	text-decoration: none;
	border: 1px solid white;
}

span#converted {
	background-color: red;
	color: white;
}

button{
	margin-top: 20px;
	background-color: yellow;
}